body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::selection {
  background: $primary;
  color: $white;
}

::-moz-selection {
  background: $primary;
  color: $white;
}

ul,
ol {
  margin-bottom: 1rem;
}
