body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $primary;
  color: $gray-dark;
}

::selection {
  background: $secondary;
  color: $gray-dark;
}

::-moz-selection {
  background: $secondary;
  color: $black;
}

ul,
ol {
  margin-bottom: 1rem;
}
